---
---

$base-font-family: 'Lato', sans-serif;
$base-font-size:   18px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$text-color:        #b8b8b8;
$background-color:  #1b1b1b;
$brand-color:       #ff84d0;

$grey-color:        #c2c2c2;
$grey-color-dark:   #ff008c;
$grey-color-light:  lighten($grey-color-dark, 10%);

$header-color:      lighten($text-color, 20%);
$teapot-color:      #5c163c;
$shadow-color:		#121212;

$content-width:     1200px;

$max-float-width: 	33%;

@import url('https://fonts.googleapis.com/css?family=Khand');
@import url('https://fonts.googleapis.com/css?family=Lato');

@import "minima";

main {
    background-image: url("/assets/images/teapot.svg");
    background-repeat: no-repeat;
    background-size: 120%;
	background-position-x: 20%;
	background-position-y: 20%;
	background-attachment: fixed;
}

h1, h2, h3, h4 {
	font-family: 'Khand';
	color: $header-color;
}

h1, h2, h3 {
	border-bottom: thin solid $grey-color-light;
	clear: both;
}

h2, h3 {
	margin-top: 30px;
}

.float-image, .float-image-non-responsive  {
	box-shadow: 5px 5px 15px $shadow-color;
	clear: both;
	float: right;
	margin: 0px 0px 20px 20px;
	max-width: $max-float-width;
}

.float-video {
	box-shadow: 5px 5px 15px $shadow-color;
	clear: both;
	float: right;
	height: 0px;
	margin: 0px 0px 20px 20px;
	padding-bottom: 315 / 560 * $max-float-width;
	position: relative;
	width: $max-float-width;
}

.float-video > iframe { 
	height: 100%;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 100%;
}

.image-source-link {
	color: #98C3D1;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	/* ideally, transition speed should match zoom duration */
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}

.twentytwenty-container {
	max-width: 100%;
	margin: 20px auto 20px auto;
	box-shadow: 5px 5px 15px $shadow-color;
}

.twentytwenty-container img {
	width: 100%;
	margin: 0;
}

@include media-query($on-palm) {
	.twentytwenty-container {
		max-width: 100%;
		margin: 20px 0px 20px 0px;
		box-shadow: 5px 5px 15px $shadow-color;
	}

	.float-image {
		max-width: 100%;
		margin: 20px 0px 20px 0px;
		float: none;
	}
	
	.float-video {
		width: 100%;
		margin: 20px 0px 20px 0px;
		float: none;
		padding-bottom: 315 / 560 * 100%;
	}
}

.post p {
	text-align: justify;
}