---
---

$base-font-family: 'Lato', sans-serif;
$base-font-size:   18px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$text-color:        #b8b8b8;
$background-color:  #1d1d1d;
$brand-color:       #ff84d0;

$grey-color:        #c2c2c2;
$grey-color-dark:   #ff008c;
$grey-color-light:  lighten($grey-color-dark, 10%);

$header-color:      lighten($text-color, 20%);
$teapot-color:      #9e0157;
$shadow-color:		#121212;

$content-width:     1200px;

@import url('https://fonts.googleapis.com/css?family=Khand');
@import url('https://fonts.googleapis.com/css?family=Lato');

@import "minima";

main {
    background-image: url("/assets/images/teapot.svg");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-x: 190%;
}

h1, h2, h3, h4 {
	font-family: 'Khand';
	color: $header-color;
}

h1, h2, h3 {
	border-bottom: thin solid $grey-color-light;
	clear: both;
}

h2, h3 {
	margin-top: 30px;
}

.float-image {
	float: right;
	max-width: 33%;
	margin: 0px 0px 20px 20px;
	box-shadow: 5px 5px 15px $shadow-color;
	clear: both;
}

.image-source-link {
	color: #98C3D1;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	/* ideally, transition speed should match zoom duration */
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}

.twentytwenty-container {
	float: right;
	width: 50%;
	margin-left: 20px;
	box-shadow: 5px 5px 15px $shadow-color;
}

@include media-query($on-palm) {
	.twentytwenty-container {
		float: none;
		width: 100%;
		margin: 0px 0px 20px 0px;
		box-shadow: 5px 5px 15px $shadow-color;
	}
}

.post p {
	text-align: justify;
}